{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <title>FarmEase</title>
  </head>
  <body>
    <section id="nav_tab">
      <div id="title">
        <p>FarmEase</p>
      </div>
      <div id="app_links">
        <a href="Farmer/" class="links">Farmer</a>
        <a href="Laboratory/" class="links">Laboratory</a>
        <a href="FromFarm/" class="links">FromFarm</a>
      </div>
    </section>
    <h1 id="about_tag">ABOUT</h1>
    <section id="about">
      <div id="farmers" class="info">
        <p class="starters">
          Register as Farmer in FarmEase to receive the benefits:
        </p>
        <ol>
          <li>
            <p class="text">
              Use SoilCare to book SoilTests and get solutions from experts
            </p>
          </li>
          <li>
            <p class="text">
              By registering as seller here you can sell your products either as
              retail or wholesale
            </p>
          </li>
          <li>
            <p class="text">
              You can buy tools and fertilisers required online
            </p>
          </li>
          <li><p class="text">Get daily weather updates</p></li>
        </ol>
      </div>
      <div id="laboratories" class="info">
        <p class="starters">
          By registering your soil test laboratories on FarmEase
        </p>
        <ol>
          <li>
            <p class="text">You can reach to farmers and expand exposure</p>
          </li>
          <li>
            <p class="text">
              Be the first to reach and support farmers fight plant diseases
            </p>
          </li>
        </ol>
      </div>
      <div class="info" id="buyers">
        <p class="starters">Get fresh fruits and vegetables through FromFarm</p>
        <ol>
          <li>
            <p class="text">
              Get the details of the farmer and how they grew it
            </p>
          </li>
          <li><p class="text">Get Organic plant products with ease</p></li>
          <li>
            <p class="text">Get a chance to know farmers of your locality.</p>
          </li>
        </ol>
      </div>
    </section>
    <section id="footer">
      <p>Contact the mail below for further queries/enquiries</p>
      <email id="mymail">abhiramdodda@outlook.com</email>
    </section>
  </body>
</html>
