{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'farmerstyles.css' %}" rel="stylesheet" />
    <title>{{ name }}</title>
  </head>
  <body id="profile_body">
    <div id="profile_div">
      <h1>Profile</h1>
      <table border="1" id="profile_table">
        <tr>
          <td class="prof_con"><b>Username</b></td>
          <td class="prof_con">{{ uname }}</td>
        </tr>
        <tr>
          <td class="prof_con"><b>Name</b></td>
          <td class="prof_con">{{ name }}</td>
        </tr>
        <tr>
          <td class="prof_con"><b>Place</b></td>
          <td class="prof_con">{{ place }}</td>
        </tr>
        <tr>
          <td class="prof_con"><b>Address</b></td>
          <td class="prof_con">{{ address }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
